@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Great Vibes', cursive;
}
.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-container{
    width: 100%;
    min-height: 100vh;
    display: flex; 
}

.bg-1{
    flex: 1;
    background:linear-gradient( rgb(140, 4, 83) 0%,rgb(235, 139, 235));
}

.bg-2{
    flex: 1;
    background:linear-gradient(rgb(140, 4, 90),rgb(231, 105, 235)) ;
}

.logo{
  padding: 25px 5px 0px 5px;
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  top: 1.5vw;
  left:8vw;
  background: linear-gradient(rgb(196, 9, 118),rgb(160, 145, 145));
  padding: 3px 6px;
  border-radius: 8px;
}
.logo i{
  font-size: 20px;
}

.logo span{
  font-size:20px;
  color:#e6dce5;
  font-weight: 600;
}

.logo a{
  text-decoration: none;
}

.logo span:hover{
  color: #e2cf24;
}
.about-container{
    width: 85%;
    min-height: 80vh;
    position: absolute;
    background-color: white;
    box-shadow: 24px 24px 30px #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border-radius: 5px;
}

.image-container{
    padding: 40px 0px 0px 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 1000px;
    animation: zoom-in-out 2s ease-in-out infinite;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1,1);
  }

  50% {
    transform: scale(1.3,1.3);
    box-shadow: 3px 6px rgba(0, 0, 0, 0.438);
  }
  100% {
    transform: scale(1,1);
  }
}

.text-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 18px;
    font-family: cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.2;
}

.text-container h1{
    letter-spacing: 5px;
    color: rgb(99, 13, 121);
    font-size: 50px;
    padding: 20px 0px;
}
#about-para {
     line-height: 30px;
    cursor: pointer;
    word-spacing: 1px;
     letter-spacing: 1.5px;
}
.text-container a{
letter-spacing: 2px;
font-weight: 500;
    text-decoration: none;
    padding: 12px;
    margin: 50px 0px;
    background-color: rebeccapurple;
    border: 2px solid transparent;
    color: white;
    border-radius: 5px;
    transition: 1s all ease-in-out;
 
}
.text-container a:hover{
   
    background-color: transparent;
    color: black;
    border: 2px solid rebeccapurple;
}

@media screen and (max-width: 1200px){
    .about-container{
        width: 90%;
    }
    .image-container img{
        width: 250px;
        height: 250px;
    }
    .text-container h1{
        font-size: 40px;
        padding: 0px;
    }
    .logo{
        position: fixed;
        top: 6vw;
    }
}
@media screen and (max-width: 800px){
    .about-container{
        padding-top: 6vh;
        flex-direction: column;
    }
    .image-container img{
        width:130px;
        height: 150px;
    }
    .text-container {
        align-items: center;
        font-size: 13px;
    }
    .logo{
        top: 2vw;
    }
} 
